# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/
*.env

# Ignore logs
*.log

# Ignore cache folders
cache/
app/cache/
transformers_cache/
.huggingface/

# Ignore large data files
*.mp4
*.mp3
*.wav
*.flac
*.zip
*.tar.gz

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Git files
.git/
.gitignore

# Ignore Docker files (optional if only needed locally)
Dockerfile
docker-compose.yml


# Temporary storage (not needed in image)
videos/
cookies.txt
cache/
